@model IEnumerable<PFE.Domain.Entities.Departement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDepartement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelDepartement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteFK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDepartement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabelDepartement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteFK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
